<body class="body1">
    <div class="bgn">
        <h1 class="titulo">Sobre Las Pulsaciones</h1>
        <p class="p">
            <!-- <img class="img" src="../../../assets/images/pulsacion.png" alt="pulsaciones"> -->
            Una frecuencia cardíaca en reposo normal para los adultos oscila entre 60 y 100 latidos por minuto. Generalmente, una frecuencia cardíaca más baja en reposo implica una función cardíaca más eficiente y un mejor estado físico cardiovascular. Por ejemplo,
            un atleta bien entrenado puede tener una frecuencia cardíaca en reposo normal cercana a 40 latidos por minuto. Para medirte la frecuencia cardíaca, simplemente mídete el pulso. Colócate el dedo índice y mayor en el cuello al lado de la tráquea.
            Para tomarte el pulso en la muñeca, coloca dos dedos entre el hueso y el tendón sobre la arteria radial, que se encuentra en el lado del pulgar de la muñeca. Cuando sientas el pulso, cuenta el número de latidos en 15 segundos. Multiplica ese
            número por cuatro para calcular tus latidos por minuto. Ten en cuenta que muchos factores pueden influir en la frecuencia cardíaca, incluidos los siguientes:
        </p>

        <ul class="ul">
            <li>Edad</li>
            <li>Niveles de condición física y de actividad</li>
            <li>Ser fumador</li>
            <li>Tener enfermedades cardiovasculares</li>
            <li>colesterol alto o diabetes</li>
            <li>Temperatura del aire</li>
            <li>Posición del cuerpo (de pie o acostado, por ejemplo)</li>
            <li>Emociones</li>
            <li>Tamaño del cuerpo Medicamentos</li>
        </ul>
    </div>
    <div class="card-1">
        <h2 class="h2">Frecuencia cardiaca</h2>
        <p class="p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, quia. Voluptatum similique nemo a quae illo quisquam totam harum vitae, praesentium optio? Magni, doloribus explicabo asperiores ad excepturi debitis odio.
        </p>
    </div>
</body>