/* You can add global styles to this file, and also import other style files */

.titulo {
    padding: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
}

.p {
    text-align: justify;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}

.ul {
    text-align: left;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
}

.img {
    width: 25%;
    float: right;
}


/* 
.body1 {
    background-image: url(./assets/images/fondo.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.bgn {
    height: 100vh;
    width: 50vw;
} */

.card-1 {
    width: 100%;
    height: 100px;
    background-image: url(./assets/images//pulsaciones-normales.jpg);
    color: white;
    text-align: justify;
    padding-left: 10px;
    margin: 20px;
}

.footer {
    background-color: black;
    color: white;
    position: static;
    height: 45px;
    width: 100%;
    text-align: center;
}

.card {
    margin: 20px;
    width: 20rem;
    color: black;
}

.h5 {
    color: red;
}

.card-text {
    color: black;
}

.h3 {
    position: absolute;
    top: 80px;
    right: 200px;
}

.control {
    width: 300px;
    position: absolute;
    top: 150px;
    right: 80px;
}